@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
:root {
  --color1: #3292af;
  --font1: "Open Sans", sans-serif;
  --warning: #f8442e;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
}
*{
  max-height: 900px!important;
}
body{
  max-width: 1440px;
  margin: auto;
  position: relative;
  max-height: unset;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

.header {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 100px;
  box-sizing: border-box;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  z-index: 100;
  top: 0;
}
.header .logo {
  height: 50px;
  width: 50px;
  border-radius: 4px;
  overflow: hidden;
}
.header .logo img {
  height: 100%;
  width: 100%;
}
.header h1 {
  margin-left: 10px;
  font-size: 25px;
}

.header .logo {
  display: flex;
  align-items: center;
}

.menu-items {
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
}
.menu-items li a {
  color: black;
  font-weight: 200;
}
.menu-items li {
  margin-left: 20px;
  margin-right: 20px;
}
.header .left-side {
  display: flex;
  align-items: center;
  height: 100%;
}

.button-1 {
  font-size: 16px;
  padding: 5px 40px;
  background-color: var(--color1);
  border: none;
  outline: none;
  color: white;
  font-weight: 200;
}
.landing-page {
  height: 100vh;
  width: 100%;
  background-color: #193748;
  position: relative;
  display: flex;
  align-items: center;
}
section {
  padding: 100px;
  box-sizing: border-box;
}
.landing-page .hero-pic {
  height: 70%;
  position: absolute;
  right: 100px;
  bottom: 0;
}
.landing-page .landing-text {
  color: white;
  width: 50%;
}
.landing-page .landing-text h1 {
  font-weight: bold;
  font-size: 50px;
}
.landing-page .landing-text p {
  color: #667c88;
  margin-top: 25px;
  font-size: 14px;
}

.landing-page a {
  background-color: #efb969;
  border: none;
  outline: none;
  padding: 10px 30px;
  color: #4c4c4c;
  font-weight: bolder;
  position: absolute;
  bottom: 100px;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  border: 1px solid var(--color1);
  padding: 40px 20px;
  box-sizing: border-box;
}
.login-div{
  min-height: 100vh;
  width: 100%;
}
input,
select,
textarea {
  height: 35px;
  width: 100%;
  border: 1px solid #667c88;
  outline: none;
  padding: 5px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
}
.level {
  font-size: 16px;
  margin: 0;
  margin-bottom: 10px;
  width: 100%;
}
.login-box input {
  margin-bottom: 30px;
}
.login-box h1 {
  font-size: 20px;
  font-weight: bold;
  color: #120907;
}
.login-box button {
  width: 100%;
  height: 40px;
  font-weight: bolder;
}

.error {
  color: var(--warning);
  height: 10px;
  font-size: 14px;
  font-weight: 200;
}

.header .dropdown .profile-pic {
  height: 40px;
  width: 40px;
  border-radius: 30px;
  overflow: hidden;
  margin-right: 20px;
}
.header .dropdown .profile-pic img {
  height: 100%;
  width: 100%;
}
.ab-xx {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  background-color: transparent;
  font-weight: 100;
}
.abc-yy {
  right: 0;
}

.dash-nav {
  width: 250px;
  height: 100vh;
  position: fixed;
  background-color: #384846;
  padding: 20px;
  box-sizing: border-box;
}

.dash-nav .logo {
  width: 100%;
  display: flex;
  align-items: center;
}
.dash-nav .logo img {
  height: 40px;
  width: 40px;
  border-radius: 4px;
}
.dash-nav .logo h1 {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  margin-left: 10px;
  color: white;
}

.dash-nav .menu-itemss {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 40px;
}

.dash-nav .menu-itemss button {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-left: 5px;
  box-sizing: border-box;
  height: 35px;
  align-items: center;
  font-weight: 200;
  border-radius: 4px;
  color: white;
}

.dashboard {
  width: calc(100% - 250px);
  float: right;
  padding: 24px;
  box-sizing: border-box;
}
.dashboard .title {
  font-weight: bolder;
  font-size: 25px;
  color: black;
}

.dashboard .add-box {
  width: 40%;
  box-sizing: border-box;
}
.add-box {
  margin-top: 40px;
}

.add-box input,
.add-box select {
  margin-bottom: 20px;
}

.dash-nav .menu-itemss button svg {
  fill: white;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.dash-nav .profile {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 10px;
}

.dash-nav .profile img {
  height: 40px;
  width: 40px;
  border-radius: 40px;
}

.dash-nav .profile .text p {
  font-size: 12px;
  margin: 0;
  color: rgb(211, 211, 211);
  padding: 0 4px;
  box-sizing: border-box;
}

.dash-nav .profile a {
  fill: white;
  height: 30px;
  width: 30px;
}
.dash-nav .profile a svg {
  height: 100%;
  width: 100%;
}

.delete-button {
  color: #f8442e;
}
.table .action {
  display: flex;
  justify-content: center;
  width: 100%;
}

.form-select {
  outline: none;
}

.registration-box {
  padding: 100px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 100px;
}

.registration-box .input-div {
  width: 48%;
  margin-bottom: 40px;
}

.doctors-page {
  display: flex;
  flex-wrap: wrap;
  padding: 100px;
  box-sizing: border-box;
}

.doctors-page .doctor-div {
  height: 380px;
  width: 290px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-right: 40px;
  margin-bottom: 40px;
}
.doctors-page .doctor-div img {
  height: 70%;
  width: 100%;
}

.doctors-page .doctor-div .details {
  height: 20%;
  padding: 10px;
  box-sizing: border-box;
}
.doctors-page .doctor-div .details a {
  font-size: 12px;
  margin: 0;
  text-align: right;
}
.doctors-page .doctor-div .details p {
  font-size: 12px;
  margin: 0;
  width: 100%;
}

.title2 {
  font-size: 20px;
  font-weight: bolder;
  margin-left: 100px;
}

.change-pass {
  margin-left: 100px;
}

.change-pass {
  width: 40%;
}
.change-pass .button-1 {
  margin-top: 40px;
}

.my-appointments {
  padding: 0 100px;
  box-sizing: border-box;
  padding-bottom: 100px;
}
.my-appointments .title {
  font-size: 20px;
  font-weight: bolder;
  margin-top: 50px;
  margin-bottom: 30px;
}

.table-input {
  width: unset;
}
.dropdown-item {
  cursor: pointer;
}
.services {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 700px;
}
.services .title1 {
  color: #2aa7ff;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5em;
}
.services h1 {
  color: #1b3c74;
  font-family: "DM Serif Display", Sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.4em;
}
.services-tab {
  height: 250px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  position: absolute;
  background-color: #f5fbff;
  top: 300px;
  width: 880px;
}

.services-tab .service {
  height: 250px;
  width: 220px;
  padding: 20px;
  box-sizing: border-box;
  transition: 0.2s all;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
}
.services-tab .service .icon {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services-tab .service h2 {
  font-size: 20px;
  margin-top: 20px;
  color: #1b3c74;
}

.services-tab .service p {
  font-size: 14px;
  margin-top: 20px;
}

.services-tab .service:hover {
  background-color: rgb(0, 121, 213);
  bottom: 50px;
}

.services-tab .service:hover h2 {
  color: white;
}
.services-tab .service:hover p {
  color: white;
}

.services .fancy-1 {
  position: absolute;
  left: 200px;
  top: 30%;
}

.why-us {
  width: 880px;
  padding-top: 0;
  box-sizing: border-box;
  position: relative;
  margin: auto;
  padding: 0;
}

.why-us .why-us-box {
  display: flex;
  justify-content: space-between;
}

.why-us .why-us-box .text-sec {
  width: 45%;
}
.why-us .why-us-box .image {
  width: 55%;
}
.why-us .why-us-box .image img {
  width: 100%;
}

.why-us .why-us-box .text-sec .title {
  font-size: 14px;
  color: var(--color1);
  font-weight: bolder;
}

.why-us .why-us-box .text-sec .title-11 {
  font-weight: bolder;
  color: #1d95c8;
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 30px;
}

.why-us .why-us-box .text-sec .display {
  font-size: 12px;
  font-weight: 200;
  border-left: 1px solid var(--color1);
  padding-left: 10px;
}

.why-us .processes {
  position: absolute;
  top: 40%;
  display: flex;
  left: 10px;
}

.why-us .processes .card-x {
  height: 200px;
  width: 180px;
  box-shadow: rgba(105, 105, 105, 0.16) 0px 1px 4px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  cursor: pointer;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 8px;
}
.why-us .processes .card-x .icon {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
}

.why-us .processes .card-x p {
  margin: 0;
  font-weight: 200;
  font-size: 14px;
  text-align: center;
}

.why-us .title {
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.why-us .button-1 {
  position: absolute;
  bottom: 40px;
}

.message-us {
  width: 100%;
  background-color: #193748;
  margin-top: 100px;
  padding: 100px;
  box-sizing: border-box;
  justify-content: space-between;
}

.message-us {
  display: flex;
}
.message-us .us-details {
  width: 45%;
}
.message-us .us-details .title {
  font-size: 35px;
  color: white;
}
.message-us .us-details .desc {
  font-size: 18px;
  color: #1ea2b1;
  margin-top: 20px;
  margin-bottom: 40px;
}

.message-us .us-details .itemx {
  display: flex;
  align-items: center;
  height: 30px;
  margin-bottom: 40px;
}

.message-us .us-details .itemx i {
  height: 30px;
  width: 30px;
  border-radius: 30px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: var(--color1);
  margin-right: 20px;
}
.message-us .us-details .itemx p {
  color: white;
  font-size: 16px;
  font-weight: 200;
  margin: 0;
}

.message-box {
  width: 40%;
  background-color: white;
  border-radius: 10px;
  padding: 40px;
  box-sizing: border-box;
  height: 460px;
}

.message-box input {
  border-radius: 4px;
  border: 1px solid rgba(128, 128, 128, 0.396);
  height: 40px;
}
.message-box .input-div {
  margin-bottom: 40px;
}
.message-box textarea {
  height: 150px;
  border: 1px solid rgba(128, 128, 128, 0.396);
}

.contact-details {
  display: flex;
  width: 100%;
  padding: 0 100px;
  box-sizing: border-box;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 20px;
}

.contact-details .itemx {
  height: 120px;
  width: 32%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.contact-details .itemx .icon {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  background-color: rgb(255, 255, 255);
  height: 80px;
  width: 80px;
  border-radius: 50px;
  border: 1px solid rgba(128, 128, 128, 0.328);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
}

.contact-details .itemx p {
  margin-top: 60px;
}

footer {
  background-color: #19697d;
  min-height: 50vh;
  width: 100%;
  padding: 0 100px;
  box-sizing: border-box;
  color: white;
}

footer ul {
  margin: 0px;
  padding: 0px;
}
footer {
  background: #181d2d;
  position: relative;
}
footer .footer-cta {
  border-bottom: 1px solid #373636;
}
footer .single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
footer .cta-text {
  padding-left: 15px;
  display: inline-block;
}
footer .cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
footer .cta-text span {
  color: #757575;
  font-size: 15px;
}
footer .footer-content {
  position: relative;
  z-index: 2;
}
footer .footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
footer .footer-logo {
  margin-bottom: 30px;
}
footer .footer-logo h1{
  font-size: 21px;
  color: white;
}
footer .footer-logo img {
  max-width: 100px;
  border-radius: 5px;
}
footer .footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}
footer .footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
footer .footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
footer .footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
footer .facebook-bg {
  background: #3b5998;
}
footer .twitter-bg {
  background: #55acee;
}
footer .google-bg {
  background: #dd4b39;
}
footer .footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
footer .footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
footer .footer-widget ul li {
  display: inline-block;
  width: 50%;
  margin-bottom: 12px;
}
footer .footer-widget ul li a:hover {
  color: #ff5e14;
}
footer .footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
footer .subscribe-form {
  position: relative;
  overflow: hidden;
}
footer .subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2e2e2e;
  border: 1px solid #2e2e2e;
  color: #fff;
}
footer .subscribe-form button {
  position: absolute;
  right: 0;
  background: #ff5e14;
  padding: 13px 20px;
  border: 1px solid #ff5e14;
  top: 0;
}
footer .subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
footer .copyright-area {
  background: #202020;
  padding: 25px 0;
}
footer .copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
footer .copyright-text p a {
  color: #ff5e14;
}
footer .footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
footer .footer-menu li:hover a {
  color: #ff5e14;
}
footer .footer-menu li a {
  font-size: 14px;
  color: #878787;
}


.page-end{
  width: 100%;
  padding: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EBF5FF;
}

.page-end .title{
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  color: var(--color1);
  width: 70%;
}
.page-end button{
  margin-top: 40px;
}
.page-end p{
  text-align: center;
  width: 60%;
  font-size: 12px;
  color: #77829D;
  margin-top: 40px;
}

.bxx{
  background-color: #2BA7FF;
}
.byy{
  background-color: #888cea;
}

.verify-email{
  min-height: 100vh;
  width: 100%;
}